<div class="popup-content">
   <div>
    <%= cl_image_tag place.photo.key %>
    <div>
      <% if !current_user.places.include?(place) %>
        <div class="add-favourite" data-controller="add-favourite" data-action="click->add-favourite#changeIcon" data-add-favourite-target="icon" data-place="<%= place.id %>" data-user="<%= current_user.id %>">
          <i class="fa-regular fa-star"></i>
        </div>
      <% else %>
        <div class="add-favourite" data-controller="add-favourite" data-action="click->add-favourite#changeIcon"  data-add-favourite-target="icon" data-place="<%= place.id %>" data-user="<%= current_user.id %>"  data-favid="<%= place.id.to_s %>">
          <i class="fa-solid fa-star"></i>
        </div>
      <% end %>
    </div>
   </div>
  <div class="popup-info">
    <h1><%= place.fr_title %></h1>
    <p class="address"><%= place.address %></p>
    <p class="description"><%= place.fr_description %></p>
  </div>

  <% if current_user.email.include?("wanders.citytour@gmail.com") %>
  <div class="btn-admin-container">
    <div>
      <%= link_to edit_place_path(place), class: "btn-admin" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </div>
    <div>
      <%= link_to "Delete",
        place_path(place),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn-admin small"
      %>
    </div>
  </div>
  <% end %>

</div>
