<div class="site-container">
  <h1>Créer une nouvelle anecdote</h1>

  <%= simple_form_for @place do |f| %>
    <%= f.input :fr_title, label: 'Titre', placeholder: 'Titre' %>
    <%= f.input :fr_description, label: 'Anecdote', placeholder: 'Anecdote'  %>
    <%= f.input :address, label: 'Adresse', placeholder: 'Adresse'  %>
    <%= f.association :category %>
    <%= f.input :img_url %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Uploader", class: "btn-tangerine" %>
  <% end %>

  <div class="btn-tangerine">
    <%= link_to new_category_path do %>
      <p>Ajouter une catégorie</p>
    <% end %>
  </div>
</div>
